
.profileWrapper{
    display: flex;
    gap: 25px;
    bottom: 0;
    position: fixed;
    margin-bottom: 15px;
}


.logoWrapper img{
    width: 50px;
    height: 50px;
}

.content h4{
    color: white;
    margin-top: 7px;
}

.content{
    display: flex;
    gap: 20px;
}

.content span{
    margin-top: 7px;
}