
.profileWrapper{
    display: flex;
    gap: 25px;
    bottom: 0;
    position: fixed;
    margin-bottom: 25px;
}


.logoWrapper img{
    width: 50px;
    height: 50px;
}

.content h4{
    color: white;
    margin-top: 7px;
}

.content{
    display: flex;
    gap: 20px;
}

.content span{
    margin-top: 7px;
}

.more {
    margin-left: 30px;
    font-size: 18px;
}

.options{
    display: flex;
    gap: 15px;
}

li{
    list-style: none;
}

.dropdown{
    margin-top: -40px;
    background-color: #4F535E;
    width: 95px;
    position: relative;

}

ul{
    padding: 5px;

}

.dropdown ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 17px;
}