
/* LogoButton.module.css */
.logoButtonWrapper {
    position: relative;
}


.activeModalOverlay{
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modalContent {
    position: relative;
    z-index: 1001; /* Ensure the modal content is on top of the overlay */
}



.logoButtonWrapper{
    /*margin-left: 45px;*/
    padding-top: 30px;
}

.logoBox{
    display: flex;
    align-items: center;
    gap: 22px;
}

.content h3{
    color: white;
    font-size: 25px;
}

.content h6{
    color: #4F535E;
    margin-top: 5px;
    font-size: 12px;
}

.logoWrapper img{
    width: 80px;
    height: 80px;
}

.buttonWrapper{
    margin-top: 45px;
}

.buttonWrapper{
    margin-top: 45px;
}

.buttonWrapper button:hover{
    cursor: pointer;
}

.buttonWrapper button{
    width: 100%;
    background-color: #3C3BFF;
    border: none;
    height: 35px;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}