

.formWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 600px; /* Example max-width */
    background-color: #3c3bff;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Example shadow */
    z-index: 1000; /* Ensure form is above the backdrop */
}

.formImg{
    width: 25%;
    background-color: red;
}

.formContainer{
    width: 75%;
    background-color: #4F535E;
    padding-left: 30px;
}

.form{
    display: flex;
    flex-direction: column;
}

.mid, .bottom{
    display: flex;
    gap: 30px;
}

.upper{
    display: flex;
    flex-direction: column;
}

form{
    margin-top: 50px;
}

input{

    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(128, 128, 128);
    outline: 0;
    font-size: 18px;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.bottom{
    margin-top: 40px;
}