
.passwordTableWrapper{
    margin-top: 30px;
}

table{
    width: 100%;
    /*border-collapse: collapse;*/
    border-collapse: collapse;
}

thead{
    background-color: #26272B;
    color: #424651;
}


th{
    text-align: left;
}

th, td {
    padding: 30px;
}


tbody{
    background-color: #212226;
}




tbody tr{
    height: 75px;
    border-bottom: 1px solid #4F535E;
}

.icon{
    width: 37px;
    height: 37px;
}


.categoriesWrapper{
    display: flex;
    flex-wrap: wrap;

}


.websiteContainer{
    display: flex;
    /*align-items: center;*/
    gap: 20px;
    max-width: 250px;

}

tr{
    height: 70px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3px;
}

.content h5{
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

.content a{
    color: #424651;
}


.usernameWrapper, .passwordWrapper{
    display: flex;
    gap: 10px;
    color: white;
}

.vulnContainer{
    display: flex;
    gap: 12px;
    color: white;
}


.more {
    margin-left: 30px;
    font-size: 20px;
}

li{
    list-style: none;
}

.dropdown{
    margin-top: 10px;
    background-color: #4F535E;
    width: 75px;
    position: absolute;
}

ul{
    padding: 5px;

}

.dropdown ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 17px;
}


