
.categoryWrapper{
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.categoryName h6{
    font-size: 14px;
    color: #BA9117;
}

.categoryName{
    background-color: #2A2B2F;
    padding: 8px 23px 8px 23px;
    border-radius: 10px;
}

span{
    color: white;
    font-size: 14px;
}