

.menuSectionWrapper{
    width: 20%;
    background-color: #212226;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuSectionContainer{
    width: 85%;
}

@media (max-width: 768px) {
    .menuSectionWrapper {
        display: none;
    }
}